


.split {
  height: 100%;
  position: static;
  padding-top: 20px;
  /* display: inline-block; */
}

.userInfoContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.userInfo {
  background-color: #3399ff;
  width: 66%;
}


div.userInfo.split > div > div.loggedUser{
    position: fixed;
    text-align: center;
}

div.feed.split > div.hashtags{
    display: inline-flex;
    font-family: 'Times New Roman', Times, serif;
}

div.feed.split > div.hashtags > p{
    margin: 3px;
}

.feed {
  background-color: #ececec;
  right: 0;
  width: 70%;
}

div.userInfo.split > div > div > img {
  height: 125px;
  width: 100px;
}

div.feed.split > div.individualPost{
    text-align: left;
    font-family: 'advent pro medium';
    margin: 18px;
}

div.feed.split > div.individualPost > h4{
    margin: auto;
}

div.userInfo.split > div > div > p {
  font-style: oblique;
}

.navbar {
  display: flex;
  height: 100%;
  padding: 23px;
  background-color: tomato;
  top: 0;
  position: sticky;
}

.navbar > .allLinks > .link {
  padding-left: 1.5em;
  padding-right: 1em;
  color: black;
}

.navbar > .allLinks > .link:hover {
  color: blue;
}

.navbar > .allLinks > .link:visited {
  color: black;
}

.navbar > .allLinks {
  position: absolute;
  right: 0;
}
